.profile-image {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background: var(--color-gray-200);
  flex-shrink: 0;
  position: relative;

  border: 2px solid var(--color-gray-0);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &.sm {
    width: 32px;
    height: 32px;
  }

  &.md {
    width: 40px;
    height: 40px;
  }

  &.lg {
    width: 84px;
    height: 84px;
  }
}
