.profile-image {
  border-radius: 999px;
  overflow: hidden;
  display: inline-block;
  background: #f2f2f2;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.sm {
    width: 32px;
    height: 32px;
  }

  &.md {
    width: 40px;
    height: 40px;
  }

  &.lg {
    width: 84px;
    height: 84px;
  }
}
