<li class="comment">
  <app-profile-image
    *ngIf="creator()?.creatorPhoto"
    [src]="creator()!.creatorPhoto"
    size="sm"
  ></app-profile-image>

  <div class="comment__body">
    <div class="comment__meta">
      <strong>{{ creator()?.creatorName || 'User' }}</strong>
      <small>{{ comment.createdAt | timeAgo }}</small>
    </div>
    <p>{{ comment.comment }}</p>
  </div>

  <button
    *ngIf="isOwner()"
    type="button"
    class="comment__delete"
    (click)="onDelete()"
    aria-label="Delete"
  >
    <mat-icon>delete_outline</mat-icon>
  </button>
</li>
