@import './styles/variables';
@import './styles/base';
@import './styles/buttons';
@import './styles/forms';
@import './styles/utilities';

.chirp-dialog .mat-mdc-dialog-surface {
  background: transparent;
  box-shadow: none;
}
