.bookmarkButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  cursor: pointer;

  padding: 0.5rem;
  border-radius: var(--radius-3);

  color: var(--color-gray-900);
  transition: var(--transition);
}

.bookmarkButton:hover {
  background: var(--color-primary-variant);
}

.bookmarkButton:active {
  transform: translateY(1px);
}

.bookmarkButton__icon {
  font-size: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
}

.bookmarkButton.bookmarked {
  color: var(--color-primary);
}

.bookmarkButton.bookmarked:hover {
  background: var(--color-primary-variant);
}
