<article class="feed">
  <header class="feed__header">
    <div class="feed__header-left">
      <div class="feed__avatar">
        <app-profile-image
          *ngIf="creator()?.profilePhoto"
          [src]="creator()!.profilePhoto"
          size="sm"
        ></app-profile-image>
      </div>

      <div class="feed__header-details">
        <h4 class="feed__name">{{ creator()?.fullName || 'User' }}</h4>
        <small class="feed__time">{{ post.createdAt | timeAgo }}</small>
      </div>
    </div>

    <div *ngIf="isOwner()" class="feed__header-actions">
      <button type="button" class="iconBtn" (click)="startEdit()" [disabled]="busy()">
        <mat-icon>edit</mat-icon>
      </button>
      <button type="button" class="iconBtn" (click)="deletePost()" [disabled]="busy()">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
  </header>

  <div class="feed__body">
    <div *ngIf="editing(); else readMode" class="feed__edit">
      <textarea [ngModel]="editBody()" (ngModelChange)="editBody.set($event)" rows="3"></textarea>

      <div class="feed__edit-actions">
        <button type="button" class="btn" (click)="cancelEdit()" [disabled]="busy()">Cancel</button>
        <button type="button" class="btn primary" (click)="saveEdit()" [disabled]="busy()">
          Save
        </button>
      </div>
    </div>

    <ng-template #readMode>
      <p class="feed__text">{{ post.body }}</p>
    </ng-template>

    <div class="feed__images" *ngIf="post.image">
      <img [src]="post.image" alt="Post image" />
    </div>
  </div>

  <footer class="feed__footer">
    <div class="feed__footer-left">
      <app-like-dislike-post
        [post]="post"
        (postUpdated)="emitUpdatedPost($event)"
      ></app-like-dislike-post>

      <a class="feed__action" [routerLink]="['/posts', post._id]" aria-label="Comments">
        <mat-icon>chat_bubble_outline</mat-icon>
        <small>{{ post.comments.length || 0 }}</small>
      </a>
    </div>

    <div class="feed__footer-right">
      <app-bookmark-post [postId]="post._id" [initialBookmarked]="bookmarked"></app-bookmark-post>
    </div>
  </footer>

  <app-edit-post-modal
    *ngIf="editModalOpen()"
    [postId]="post._id"
    (updated)="onModalUpdated($event)"
    (closed)="closeEditModal()"
  ></app-edit-post-modal>
</article>
