<section class="mainArea">
  <div class="layout">
    <app-sidebar (openThemes)="openThemes()"></app-sidebar>

    <div class="content">
      <app-create-post [error]="error()" (createPost)="createPost($event)"></app-create-post>

      <app-for-you-or-following
        [active]="mode()"
        (modeChange)="onModeChange($event)"
      ></app-for-you-or-following>

      <app-feed-skeleton *ngIf="loading()" [count]="3"></app-feed-skeleton>

      <ng-container *ngIf="!loading()">
        <p *ngIf="posts().length === 0" class="center">No posts found</p>

        <div class="feed" *ngIf="posts().length > 0">
          <article class="post" *ngFor="let post of posts()">
            <p class="post__body">{{ post.body }}</p>

            <img *ngIf="post.image" class="post__image" [src]="post.image" alt="Post image" />

            <small class="post__meta">Creator: {{ post.creator }}</small>
          </article>
        </div>
      </ng-container>
    </div>
  </div>
</section>
