<section class="forest">
  <app-create-post [error]="error()" (createPost)="createPost($event)"></app-create-post>

  <app-for-you-or-following
    [active]="mode()"
    (modeChange)="onModeChange($event)"
  ></app-for-you-or-following>

  <app-feed-skeleton *ngIf="loading()" [count]="3"></app-feed-skeleton>

  <ng-container *ngIf="!loading()">
    <p class="center" *ngIf="posts().length < 1">No posts found</p>

    <app-feeds
      *ngIf="posts().length > 0"
      [posts]="posts()"
      [bookmarkedIds]="bookmarkedIds()"
      (postUpdated)="onPostUpdated($event)"
      (postDeleted)="onPostDeleted($event)"
    ></app-feeds>
  </ng-container>
</section>
