<section class="profile">
  <div class="profile__container">
    <div class="profile__image">
      <app-profile-image [src]="user.profilePhoto" size="lg"></app-profile-image>

      <label
        *ngIf="!avatarTouched()"
        for="avatar"
        class="profile__image-edit"
        aria-label="Change avatar"
      >
        <mat-icon>upload</mat-icon>
      </label>

      <button
        *ngIf="avatarTouched()"
        type="button"
        class="profile__image-btn"
        (click)="submitAvatar()"
        aria-label="Save avatar"
      >
        <mat-icon>check</mat-icon>
      </button>

      <input
        id="avatar"
        type="file"
        accept="image/png, image/jpeg"
        (change)="onPickAvatar($event)"
      />
    </div>

    <h4>{{ user.fullName }}</h4>

    <ul class="profile__follows">
      <li>
        <h4>{{ user.following?.length || 0 }}</h4>
        <small>Following</small>
      </li>
      <li>
        <h4>{{ user.followers?.length || 0 }}</h4>
        <small>Followers</small>
      </li>
    </ul>

    <div class="profile__actions-wrapper">
      <button *ngIf="isOwnProfile()" type="button" class="btn" (click)="editProfile.emit()">
        Edit profile
      </button>

      <button *ngIf="!isOwnProfile()" type="button" class="btn dark" (click)="followToggle.emit()">
        {{ followsUser() ? 'Unfollow' : 'Follow' }}
      </button>

      <a *ngIf="!isOwnProfile()" class="btn default" [routerLink]="['/messages', user._id]">
        Message
      </a>
    </div>

    <article class="profile__bio" *ngIf="user.bio">
      <p>{{ user.bio }}</p>
    </article>
  </div>
</section>
