.sidebar {
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  z-index: 10;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  background: var(--color-gray-0);
  border: 0.2rem solid var(--color-gray-100);
  border-radius: 3rem;
  padding: 0.6rem 1rem;

  box-shadow: 0 -1rem 2rem rgba(0, 0, 0, 0.08);
}

.sidebar__item {
  display: grid;
  place-items: center;

  width: 3.7rem;
  height: 3.7rem;

  border-radius: 50%;
  background: var(--color-gray-100);

  color: var(--color-gray-900);
  text-decoration: none;

  transition: var(--transition);

  &:hover {
    background: var(--color-primary-variant);
  }
}

.sidebar__button {
  border: none;
  cursor: pointer;
}

.sidebar__icon {
  display: grid;
  place-items: center;

  mat-icon {
    font-size: 22px;
    width: 22px;
    height: 22px;
  }
}

.sidebar__label {
  display: none;
  margin: 0;
}

.sidebar__item.active {
  background: var(--color-primary);
  color: var(--color-gray-0);
}

@media (min-width: 900px) {
  .sidebar {
    position: sticky;
    top: 5rem;
    left: 0;
    transform: none;

    flex-direction: column;
    align-items: stretch;
    gap: 0.8rem;

    padding: 1rem;
    border-radius: var(--radius-3);

    width: 18rem;
    box-shadow: none;
  }

  .sidebar__item {
    width: auto;
    height: auto;

    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem 0.8rem;
    border-radius: var(--radius-3);

    background: transparent;

    &:hover {
      padding-left: 1.5rem;
      background: var(--color-primary-variant);
    }
  }

  .sidebar__label {
    display: block;
    margin: 0;
    font-weight: 500;
  }

  .sidebar__item.active {
    background: var(--color-primary);
    padding-left: 1.5rem;

    * {
      color: var(--color-gray-0);
    }
  }
}
