.forYouOrFollowing {
  display: flex;
  background: var(--color-gray-0);
  border-radius: var(--radius-3);
  padding: 0.3rem;
  margin-bottom: 0.8rem;
  width: 100%;
}

.forYouOrFollowing button {
  flex: 1;
  border: none;
  background: transparent;
  padding: 0.7rem 0;
  border-radius: var(--radius-2);
  font-weight: 500;
  color: var(--color-gray-900);
  cursor: pointer;
  transition: var(--transition);
}

.forYouOrFollowing button:hover {
  background: var(--color-primary-variant);
}

.forYouOrFollowing button.active {
  background: var(--color-primary);
  color: var(--color-gray-0);
  font-weight: 600;
}
