<section class="profile">
  <p *ngIf="error()" class="error">{{ error() }}</p>

  <ng-container *ngIf="user() as u">
    <app-user-profile
      [user]="u"
      (followToggle)="toggleFollow()"
      (avatarChange)="changeAvatar($event)"
      (editProfile)="openEditProfile()"
    ></app-user-profile>

    <h3 class="profile__posts-title">{{ u.fullName }}'s posts</h3>
  </ng-container>

  <section class="profile__posts">
    <app-feed-skeleton *ngIf="loading()" [count]="3"></app-feed-skeleton>

    <ng-container *ngIf="!loading()">
      <p class="center" *ngIf="posts().length < 1">No posts by this user</p>

      <app-feeds
        *ngIf="posts().length > 0"
        [posts]="posts()"
        (postUpdated)="onPostUpdated($event)"
        (postDeleted)="onPostDeleted($event)"
      ></app-feeds>
    </ng-container>
  </section>
</section>
