* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  appearance: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 12px;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  background: var(--color-gray-100);
  color: var(--color-gray-700);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-gray-900);
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 0.95rem;
}
h5 {
  font-size: 0.85rem;
}
h6 {
  font-size: 0.7rem;
}

a {
  color: var(--color-gray-700);
  transition: var(--transition);
}

button {
  background: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.container {
  width: var(--container-w-lg);
  margin-inline: auto;
}
