.btn {
  width: fit-content;
  background: var(--color-gray-0);
  color: var(--color-gray-900);
  font-weight: 600;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: var(--radius-3);
  transition: var(--transition);
}

.btn.primary {
  background: var(--color-primary);
  color: white;
}

.btn.danger {
  background: var(--color-danger);
  color: white;
}

.btn.sm {
  padding: 0.5rem 1.2rem;
}

.btn.full {
  width: 100%;
}

.btn.dark {
  background: var(--color-gray-900);
  color: var(--color-gray-0);
}

.btn:hover {
  background: var(--color-gray-900);
  color: var(--color-gray-0);
}

.iconBtn {
  display: grid;
  place-items: center;
  padding: 0.4rem;
  border-radius: var(--radius-2);
  color: var(--color-gray-900);
}

.iconBtn:hover {
  background: var(--color-primary-variant);
}

.linkish {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  font: inherit;
  text-decoration: underline;
}
