input,
textarea {
  font: inherit;
  background: var(--color-gray-100);
  color: var(--color-gray-900);
  border-radius: var(--radius-2);
  transition: var(--transition);
}

input:focus,
textarea:focus {
  border-color: var(--color-primary);
  background: var(--color-gray-0);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-gray-500);
}

.form__error-message,
.error {
  background: var(--color-danger);
  color: var(--color-gray-0);
  padding: 0.6rem 1.2rem;
  border-radius: var(--radius-2);
}
