@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Primary */
  --color-primary: #2f6f4e;
  --color-primary-variant: #d9efe4;

  /* Neutrals */
  --color-gray-0: #fbfcfa;
  --color-gray-100: #f1f4f0;
  --color-gray-200: #dde3dc;
  --color-gray-300: #c4cdc4;
  --color-gray-400: #a6b2a6;
  --color-gray-500: #879487;
  --color-gray-600: #5c675c;
  --color-gray-700: #2e332e;
  --color-gray-800: #161a16;
  --color-gray-900: #0a0c0a;

  /* Accent */
  --color-danger: #b4233a;

  --transition: all 250ms ease;

  --radius-1: 0.3rem;
  --radius-2: 0.6rem;
  --radius-3: 0.9rem;
  --radius-4: 1.2rem;
  --radius-5: 2rem;

  --container-w-lg: min(980px, 92%);
  --container-w-sm: 96%;
}

/* darker mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Backgrounds */
    --color-gray-0: #0f0f0f;
    --color-gray-100: #1e1e1e;
    --color-gray-200: #373737;

    /* Mid tones */
    --color-gray-300: #4b4b4b;
    --color-gray-400: #696969;
    --color-gray-500: #8c8c8c;

    /* Text */
    --color-gray-600: #aaaaaa;
    --color-gray-700: #c8c8c8;
    --color-gray-800: #e1e1e1;
    --color-gray-900: #f5f5f5;

    /* Primary (unchanged) */
    --color-primary: #3ea372;
    --color-primary-variant: rgba(62, 163, 114, 0.18);
  }
}

body {
  background: var(--color-gray-0);
  color: var(--color-gray-900);
}
